<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.junit.testRunListeners">
      <testRunListener
            class="se.chho.tested.TestedTestRunListener">
      </testRunListener>
   </extension>
   <extension
          point="org.eclipse.core.resources.markers" id="se.chho.marker.passedTest"
          name="Passed test">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="false"/>
    <attribute name="description"/>
    </extension>
</plugin>
