<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>About Tested</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/about">Welcome</a>
      </li>
      <li class="{% if page.title == "Example" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/example">Example</a>
      </li>
    </ul>
    <h4>Getting started</h4>
    <ul>
      <li class="{% if page.title == "Download the plugin" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/downloadtheplugin">Download the plugin</a>
      </li>
      <li class="{% if page.title == "Install the plugin" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/installtheplugin">Install the plugin</a>
      </li>
      <li class="{% if page.title == "FAQ" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/faq">FAQ</a>
      </li>
    </ul>
    <h4>How to extend Tested</h4>
    <ul>
      <li class="{% if page.title == "Download the code" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/downloadthecode">Download the code</a>
      </li>
      <li class="{% if page.title == "New analyser" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/newanalyser">New analyser</a>
      </li>
      <li class="{% if page.title == "Potential improvements" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/potentialimprovements">Potential
            improvements</a>
      </li>
    </ul>
  </aside>
</div>
