<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>About Tested</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/home">Welcome</a>
      </li>
    </ul>
    <h4>Getting started</h4>
    <ul>
      <li class="{% if page.title == "Front-matter" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/frontmatter">Front-matter</a>
      </li>
      <li class="{% if page.title == "Writing posts" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/posts">Writing posts</a>
      </li>
      <li class="{% if page.title == "Creating pages" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/pages">Creating pages</a>
      </li>
      <li class="{% if page.title == "Variables" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/variables">Variables</a>
      </li>
      <li class="{% if page.title == "Blog migrations" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/migrations">Blog migrations</a>
      </li>
    </ul>
    <h4>How to extend Tested</h4>
    <ul>
      <li class="{% if page.title == "Front-matter" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/frontmatter">Front-matter</a>
      </li>
      <li class="{% if page.title == "Writing posts" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/posts">Writing posts</a>
      </li>
      <li class="{% if page.title == "Creating pages" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/pages">Creating pages</a>
      </li>
      <li class="{% if page.title == "Variables" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/variables">Variables</a>
      </li>
      <li class="{% if page.title == "Blog migrations" %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/migrations">Blog migrations</a>
      </li>
    </ul>
  </aside>
</div>
