<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the docs…</option>
    <optgroup label="Getting started">
      <option value="{{ site.baseurl }}/docs/home">Welcome</option>
      <option value="{{ site.baseurl }}/docs/installation">Installation</option>
      <option value="{{ site.baseurl }}/docs/usage">Basic Usage</option>
      <option value="{{ site.baseurl }}/docs/structure">Directory structure</option>
      <option value="{{ site.baseurl }}/docs/configuration">Configuration</option>
    </optgroup>
    <optgroup label="Your Content">
      <option value="{{ site.baseurl }}/docs/frontmatter">Front-matter</option>
      <option value="{{ site.baseurl }}/docs/posts">Writing posts</option>
      <option value="{{ site.baseurl }}/docs/pages">Creating pages</option>
      <option value="{{ site.baseurl }}/docs/variables">Variables</option>
      <option value="{{ site.baseurl }}/docs/migrations">Blog migrations</option>
    </optgroup>
  </select>
</div>
