<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Basic Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage TWO TWO</a>
      </li>
      <li class="{% if page.title == "Directory structure" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/structure">Directory structure</a>
      </li>
      <li class="{% if page.title == "Configuration" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/configuration">Configuration</a>
      </li>
    </ul>
    <h4>How to extend Tested</h4>
    <ul>
      <li class="{% if page.title == "Front-matter" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/frontmatter">Front-matter</a>
      </li>
      <li class="{% if page.title == "Writing posts" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/posts">Writing posts</a>
      </li>
      <li class="{% if page.title == "Creating pages" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/pages">Creating pages</a>
      </li>
      <li class="{% if page.title == "Variables" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/variables">Variables</a>
      </li>
      <li class="{% if page.title == "Blog migrations" %}current{% endif %}">
        <a href="{{ site.url }}/eclipse-plugin-tested/docs/migrations">Blog migrations</a>
      </li>
    </ul>
  </aside>
</div>
